<a href="/">&lt; Back</a>
<h1>New Message</h1>
<form action="/new" method="post">
    <input type="text" name="author" id="author" placeholder="Name">
    <div><input type="text" name="msg" id="msg" placeholder="Enter a message"></div>
    <button class="blue-btn">Submit</button>
</form>